@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FFF,
  --background-start: #FFF;
  --background-end: #FFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000;
    --background-start: #000;
    --background-end: #000;
  }
} */

@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Book.woff2'),
    url('/fonts/Garet-Book.woff'),
    url('/fonts/Garet-Book.ttf'),
    url('/fonts/Garet-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Heavy.woff2'),
    url('/fonts/Garet-Heavy.woff'),
    url('/fonts/Garet-Heavy.ttf'),
    url('/fonts/Garet-Heavy.otf');
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
  font-family: 'Garet';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
